*{
    text-decoration: none;
    border: solid;
    color:hsl(0, 0%, 0%);
    border-width: 1px;
}

div,form,body,head{
    border: none;
    
}

button{
    background-color:rgb(255, 255, 255);
}

.week{
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
} 

.week div{
    height: 90vh;
    border: solid;
    color:hsl(0, 0%, 0%);
    border-width: 3px;
}

.week h1{
    border-color: rgba(240, 248, 255, 0);
    text-align: center;
    font-size: 2vw;
}
